@charset "UTF-8"
@import "../../include/config"

input
	padding: .375rem .75rem
	color: $color2
	font: 400 1rem/150% -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
	border: 1px solid $color-border
	border-radius: .25rem
	outline: 0
	min-width: 100px

	&[type=number]
		appearance: none
		-moz-appearance: textfield

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button
			-webkit-appearance: none
			margin: 0

	&:disabled
		background-color: #f8f8f8

	&:focus
		box-shadow: inset 0 0 4px $color-border
