.btn

	&--swap
		background: #fff url("../../images/transfer.svg") no-repeat
		background-size: 30px
		width: 30px
		height: 30px
		transform: rotate(90deg)
		border: none
		cursor: pointer
		margin: 1rem
		transition: .3s transform linear

		&:hover
			transform: rotate(270deg)
			transition: .3s transform linear