@charset "UTF-8"
@import "../../include/config"

select
	display: inline-block
	width: 100%
	height: calc(2.25rem + 2px)
	padding: .375rem 1.75rem .375rem .75rem
	color: $color2
	font: 400 1rem/150% -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
	background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center
	background-size: 8px 10px
	border: 1px solid $color-border
	border-radius: .25rem
	appearance: none
	outline: 0
