@charset "UTF-8"
@import "../../include/config"

.calculator
	border: 1px solid $color-border
	border-radius: .25rem
	padding: 1.5rem 1rem 1.3rem
	background-color: white
	max-width: 480px
	width: 100%
	margin: 1rem auto
	display: flex
	flex-flow: column
	align-items: center


	h2
		margin-bottom: 1.4rem
		font-size: 1.5rem
		text-align: center

	&__box
		display: flex
		flex-flow: row wrap
		justify-content: center
		align-items: center


	&__col
		margin: 0 1rem
		flex: 1 1 100px

	&__input-container

		display: flex
		flex-flow: nowrap
		padding: 10px 0

		input:last-of-type
			margin-right: 10px
			flex:  1 1 300px


		select:last-of-type
			flex: 1 0 90px

