@charset "UTF-8"

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$color: #212529
$color2: #495057
$color-border: #ced4da
$background: #04b7f7
// Основные разрешения
// ===================
$max-width: 1000px

$desktop: 1330px
$tablet: 991px
$mobail: 767px
$sm-mobail: 575px

$min-width: 320px

=max-width($width)
	@media only screen and (max-width: $width)
		@content

=max-width-height($width)
	@media only screen and (max-width: $width) and (max-height: 600px)
		@content


=full-wrap()
	margin: 0 auto
	position: relative
	max-width: $max-width
	min-width: $min-width
	padding: 0 10px

